#appfname{
    width: 230px;
    height: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: left;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
}

#applogin{
    width: 230px;
    height: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: left;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
}
#applogin2{
    width: 230px;
    height: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: left;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
}
#apppassword{
    width: 230px;
    height: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: left;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
}

#companyname{
	text-align: center;
	margin-top: 50px;
}

#pagename{
	text-align: center;
	margin-top: 20px;
}


.loginbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:21px;
	font-weight:bold;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
}.loginbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.loginbutton:active {
	position:relative;
	top:1px;
}

.registerbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:21px;
	font-weight:bold;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	margin-top: 10px;
	margin-left: 80px;
	margin-right: auto;
}.loginbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.loginbutton:active {
	position:relative;
	top:1px;
}

